* {
    margin: 0%;
}
body {
    text-align: center;
    font-family: "Boogaloo", serif;
    font-size: 17px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #81BFDA;
}

.header {
    background-color: #213555;
    color: white;
    padding: 8px;  
    height: 100px;
    width: 100%;
}
h2 {
    height: 40px;
    background-color: #81BFDA;
    color: black;
    padding: 10px;
}
p {
    margin: 7px;
}
.btn {
    height: 200px;
    width: 200px;
    border: 4px solid black;
}
.btn-container {
    display: flex;
    /* flex-grow: 1; */
    background-color: #3E5879;
    color: white;
}
.green {
    margin: 1rem 0.5rem 0.5rem 1rem;
    border-radius: 100% 0% 0% 0%;
    background-color: rgb(86, 204, 111);
}
.red {
    margin: 1rem 1rem 0.5rem 0.5rem;
    border-radius: 0% 100% 0% 0%;
    background-color: rgb(243, 63, 63);
}
.orange {
    margin: 0.5rem 0.5rem 1rem 1rem;
    border-radius: 0% 0% 0% 100%;
    background-color: rgb(247, 168, 95);
}
.blue {
    margin: 0.5rem 1rem 1rem 0.5rem;
    border-radius: 0% 0% 100% 0%;
    background-color: rgb(34, 183, 247);
}
.flash {
    background-color: white;
}
.userflash {
    opacity: 0.5;
}
.boogaloo-regular {
    font-family: "Boogaloo", serif;
    font-weight: 400;
    font-style: normal;
}
 
.game {
    display: flex;
    margin-left: 15%;
}
.inst {
    width: 320px;
}
.card {
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
    width: 220px;
    height: 320px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "Press any key to start the game , Any random button will flash in each level , press it and it will start the sequence ,continue the sequence in correct manner and Earn 10 points for each level completion.";
  }
 